*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.7;
  color: rgba(#201d1d, 0.8);
  padding: 1.8rem;
}

html {
  font-size: 62.5%;
}

.main {
  position: absolute;
  top: 5rem;
  left: 30rem;
}

.form__group {
  margin-bottom: 1rem;
}

.form__label {
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(#fdf9f9, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width: 92%;
  display: block;
  margin-bottom: 7px;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #a12121;
}
.form__input::-webkit-input-placeholder {
  color: #726c6c;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(#181616, 0.8);
  border-bottom: 3px solid #2cb30a;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 0.6rem;
  border: 0.3px solid rgba(#1d1b1b, 0.9);
  transition: all 0.5s;
  position: relative;

  border: none;
  cursor: pointer;
}

.btn--blue {
  background-color: #7c7c94;
  color: #fff;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px #181616;
  background-color: #181616;
  color: #fdf9f9;
  border: 0.2px solid #eee8e8;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(#181616, 0.9);
}

.btn::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}

.feature-box {
  background-color: rgba(147, 133, 133, 0.4);
  font-size: 1.5rem;
  width: 500px;
  padding: 2.5rem;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgb(24, 22, 22, 0.1);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 1.8rem;
}
.row::after {
  content: '';
  display: table;
  clear: both;
}
.row [class^='col-'] {
  float: left;
}
.row [class^='col-']:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(((100% - 2 * 6rem) / 3) * 2 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(((100% - 3 * 6rem) / 4) * 2 + 6rem);
}
.row .col-3-of-4 {
  width: calc(((100% - 3 * 6rem) / 4) * 3 + 12rem);
}
